<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>

<body>
    <div class="Container">
    <h1>FATHIMA THASNEEM</h1>
    <p>Im studying artificial intelligence and data science</p>
    <img src="{{ url_for('static', filename='screenshot.png') }}" alt="Sample Image" width="300">
    <a href="/about">more about me</a>
    </div>
</body>

</html>

